@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body, #root {
    height: 100%;
    box-sizing: border-box;
    
}

:root {
    background-color: #f5f5f5;
      --font-family-roboto: 'Roboto', sans-serif;
    font-family: var(--font-family-roboto);
}

    .gridArea {
        grid-row-start: 1;
        grid-row-end: -1;
        grid-column-start: 2;
        grid-column-end: -2;
      }
